# Python cache y entorno virtual
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/

# Datasets y resultados de entrenamiento
datasets/
*.onnx

# Archivos multimedia grandes (opcional)


# Archivos temporales o de sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
